<div class="jumbotron-fluid profile-header">
  <div class="container-fluid page-title-container">
      <h1 class="page-title">Profile</h1>
    </div>
   <div class="container welcome-container">
      <h1 class="welcome-message">Welcome {{user.userFirstName}}</h1>
      <img class="profile-picture" src="https://via.placeholder.com/200" alt="..." class="img-thumbnail">
    </div>
    <div class="container user-info-container">
    <div class="row">
          <div class="col-sm-12 user-info">
        <div class="container section-title">
          <h1>User Info</h1>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><span class="text-muted">Name:</span> {{user.userFirstName}} {{user.userLastName}}
          </li>
          <li class="list-group-item"><span class="text-muted">Email:</span> {{user.email}}</li>
          <li class="list-group-item"><span class="text-muted">Member since:</span> {{createdAt}} </li>
         <li class="list-group-item">Lessons completed: {{user.lastLessonId}}</li>

        </ul>
      </div>
     
   </div>
  </div>
   
</div>
 